<footer class="footer" th:fragment="footer">
        <div class="footer__main">
            <div class="address">
                <ul class="address__list">
                    <li class="address__item"><a class="address__link" href="#" target="_blank"><i class="fas fa-map-marker-alt address__icon"></i>Contact</a></li>
                    <li class="address__item"><a class="address__link" href="#"  target="_blank"><i class="fas fa-envelope address__icon"></i>tech_cust@gmail.com</a></li>
                    <li class="address__item"><a class="address__link" href="#" target="_blank"><i class="fas fa-map-marker-alt address__icon"></i>Addis Ababa,Ethiopia</a></li>
                </ul>
            </div>
            <div class="address">
                <ul class="address__list">
                    <li class="address__item"><a class="address__link" href="#"  target="_blank"><i class="fas fa-mobile-alt address__icon"></i>+251985258911</a></li>
                    <li class="address__item"><a class="address__link" href="#"  target="_blank"><i class="fas fa-envelope address__icon"></i>P.o Box</a></li>
                    <li class="address__item"><a class="address__link" href="#"  target="_blank"><i class="fab fa-linkedin-in address__icon"></i>Zip Code</a></li>
                </ul>
            </div>
            <div class="contact">
                <h2>CONTACT</h2><br>
                <h3>Get in Touch</h3>
                <ul class="contact__list">
                    <li class="contact__item"><a class="contact__link" href="#" aria-label="Email link" target="_blank" ><i class="far fa-envelope contact__icon"></i></a></li>
                    <li class="contact__item"><a class="contact__link" href="#" aria-label="github link"  target="_blank" ><i class="fab fa-github contact__icon"></i></a> </li>
                    <li class="contact__item"><a class="contact__link" href="#"  aria-label="linkedin link" target="_blank" ><i class="fab fa-linkedin-in contact__icon"></i></a></li>
                    <li class="contact__item"><a class="contact__link" href="#"  aria-label="Telegram link" target="_blank" ><i class="fab fa-telegram-plane contact__icon"></i></a></li>
                </ul>
            </div>
            
        </div>
        <p class="footer__paragraph">Copyright &copy;2021 All rights reserved | developed by Jebessa Dejene</p>
    </footer>