<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete Account</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/landing.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/common.css}" rel="stylesheet" />
    <link th:href="@{/css/css.css}" rel="stylesheet" />
  </head>
  <body>
    <main>
      
      <header class="shadow signup-nav text-light">
        <div class="d-flex bd-highlight mb-3 " >
          <div class="p-2 bd-highlight mx-3"><h1>BTH</h1></div>
          <div class="ms-auto d-flex p-2 bd-highlight ">
            <div class=" bd-highlight"><a th:href="@{/}" class="btn btn-primary btn-sm">Home</a></div>
            <div class=" bd-highlight"><a th:href="@{/displayCustomerProfile}" class="btn btn-primary btn-sm">profile</a></div>
          </div>
        </div>
      </header>

      <div class="con delete-acount_con row justify-content-center">
        <section 
        class="col-lg-2 shadow my-4 landing_desc_con p-5 align-items-center justify-content-center"
        >
         <form th:action = "@{/deleteTechnician(technicianId=${userId})}" method="post">
            <h5 class="mb-3">Are you sure about deleting your account?</h5>
            <div class="p-3 row pb-0">
              <button type="submit" class="btn btn-sm btn-danger spacebeetwee">
                Yes, delete my account.
              </button>
            </div>
          </form>
        </section>
      </div>
      <footer class="text-center text-light p-2 align-items-center justify-content-center signup-nav">
        &copy; 2022 <b>BTH</b> | All Rights Reserved.
      </footer>
    </main>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
  </body>
</html>