<!DOCTYPE html>
<html lang="en">
  <head th:object="${TuteeProfileModel}">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <title th:text="*{user.firstName} +' '+ *{user.lastName} + ' (' + *{user.role} +')' ">Tutee Name</title> -->
    <link th:href="@{/css/css.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

  </head>
  <body>
    <main>          
      <header class="header">
        <div class="logo_container">
            <!-- <img  class="logo__image" src="./images/sus.jpg" alt="t LOGO" width="80px"> -->
        <div>
            <h2 class="logo_description">BTH</h2>
            <!-- <h3 class="logo_description"> All in One<br> Electronics Maintenance </h3> -->
           </div> 
            
           <div class="col text-end">
            <form th:object="${CustomerProfile}" class="col" action="/logout" method="post">
              <div class="dropdown">
                <a
                  href="#"
                  role="button"
                  class="dropdown-toggle"
                  id="signup_options"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <img
                    th:src="@{${CurrentUser.getPhotosImagePath}}" 
                    class="rounded-circle"
                    data-bs-toggle="tooltip"
                    th:title="|Logged in as *{user.firstName} *{user.lastName} (*{user.role})|"
                    alt="Avatar"
                    height="35"
                  />
                </a>
                <ul class="dropdown-menu p-0" aria-labelledby="signup_options">
                  <li>
                    <form th:action="@{/logout}" method="post">
                      <button type="submit" class="btn-sm btn w-100">
                        Log out
                      </button>
                    </form>
                  </li>
                </ul>
              </div>
            </form>  
          </div>
      
        </div>
      
        
        <nav class="nav-bar">
            <ul class="nav-bar__list">
                <li class="nav-bar__item activated"><a class="nav-bar__link" href="home.html" ><i class="fas fa-home nav-bar__icon colored space" style="color: #084C61;"></i><p class="nav-bar__item--mobile  mobile--active colored">Home</p></a></li>
                <li class="nav-bar__item"><a class="nav-bar__link" href=""><i class="fas fa-address-card nav-bar__icon space" style="color: #084C61 ;"></i><p class="nav-bar__item--mobile">About</p></a></li>
                <li class="nav-bar__item"><a class="nav-bar__link" href="html/service.html"><i class="fas fa-window-restore nav-bar__icon space" style="color: #084C61 ;"></i><p class="nav-bar__item--mobile">Technicians</p></a></li>
                <li class="nav-bar__item"><a class="nav-bar__link"  href="html/work.html"><i class="fas fa-briefcase nav-bar__icon space" style="color: #084C61 ;"></i><p class="nav-bar__item--mobile">Fix Devices</p></a></li>
                <li class="nav-bar__item"><a class="nav-bar__link" href="html/biography.html"><i class="far fa-address-book nav-bar__icon space" style="color: #084C61 ;"></i><p class="nav-bar__item--mobile">Orders</p></a></li>
                <li class="nav-bar__item"><a class="nav-bar__link" href="html/contact.html"><i class="fas fa-phone-volume nav-bar__icon space" style="color: #084C61 ;"></i><p class="nav-bar__item--mobile">Contact Us</p></a></li>
            </ul>
        </nav> 
      </header>


      <div class="con justify-content-center profile_con row" style="box-sizing: border-box;">

      
      
        <div
          class="col-md-6 col-lg-5 col-xl-4 profile_details text-center p-5 shadow p-3 my-4 bg-white rounded "
          th:object="${CustomerProfile}"
        >
          <h4 style="color: black;">
            <span th:text="*{user.firstName}"></span>
            <span th:text="*{user.lastName}"></span>
            (<span th:text="*{user.role}"></span>)
          </h4>
          <div class="text-start">

        <div
         class="col-md-6 col-lg-5 col-xl-4 profile_details text-center p-5"
          th:object="${CurrentUser}"
        >

           <img class="rounded-circle" style="margin-right: 30px; height: 15rem; background-color: silver;" th:src="@{${CurrentUser.photosImagePath}}" />

        </div>
         
            <p>
              <b>Location</b>
              <i th:text="*{user.location}">Arada | A/A | Ethiopia</i>
            </p>
            <p>
              <b>Email</b> <i th:text="*{user.email}">Henson.gray@gmail.com</i>
            </p>
            <p><b>Phone</b> <i th:text="*{user.phone}">0976348700</i></p>
            <p><b>Username</b> <i th:text="*{user.username}">username</i></p>
          </div>
          <div class="row">
            <a
              class="col"
              th:href="@{/editCustomerProfile(userId=*{user.Id},customerId=${CustomerProfile.id})}"
            >
              <button class="btn w-100 btn-sm btn-primary">Edit profile</button>
            </a>
            <form class="col" th:action="@{'/deleteCustomerAccount/' + *{user.id}}" method="post">
              <input class="btn w-100 btn-sm btn-primary" type="submit" value="Delete Account">
            </form>
          </div>
          <a href="/order/orderdevice">Order now </a><br>
          <a href="/order/seeOrderStatus">order Status</a>
        </div>
        
      
      </div>
      
      <footer class="footer">
        <div class="footer__main">
            <div class="address">
                <ul class="address__list">
                    <li class="address__item"><a class="address__link" href="#" target="_blank"><i class="fas fa-map-marker-alt address__icon"></i>Contact</a></li>
                    <li class="address__item"><a class="address__link" href="#"  target="_blank"><i class="fas fa-envelope address__icon"></i>tech_cust@gmail.com</a></li>
                    <li class="address__item"><a class="address__link" href="#" target="_blank"><i class="fas fa-map-marker-alt address__icon"></i>Addis Ababa,Ethiopia</a></li>
                </ul>
            </div>
            <div class="address">
                <ul class="address__list">
                    <li class="address__item"><a class="address__link" href="#"  target="_blank"><i class="fas fa-mobile-alt address__icon"></i>+251985258911</a></li>
                    <li class="address__item"><a class="address__link" href="#"  target="_blank"><i class="fas fa-envelope address__icon"></i>P.o Box</a></li>
                    <li class="address__item"><a class="address__link" href="#"  target="_blank"><i class="fab fa-linkedin-in address__icon"></i>Zip Code</a></li>
                </ul>
            </div>
            <div class="contact">
                <h2>CONTACT</h2><br>
                <h3>Get in Touch</h3>
                <ul class="contact__list">
                    <li class="contact__item"><a class="contact__link" href="#" aria-label="Email link" target="_blank" ><i class="far fa-envelope contact__icon"></i></a></li>
                    <li class="contact__item"><a class="contact__link" href="#" aria-label="github link"  target="_blank" ><i class="fab fa-github contact__icon"></i></a> </li>
                    <li class="contact__item"><a class="contact__link" href="#"  aria-label="linkedin link" target="_blank" ><i class="fab fa-linkedin-in contact__icon"></i></a></li>
                    <li class="contact__item"><a class="contact__link" href="#"  aria-label="Telegram link" target="_blank" ><i class="fab fa-telegram-plane contact__icon"></i></a></li>
                </ul>
            </div>
            
        </div>
        <p class="footer__paragraph">Copyright &copy;2021 All rights reserved | developed by Jebessa Dejene</p>
      </footer>
    </main>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
  </body>
</html>
