<!DOCTYPE html>
<html lang="en">
  <html lang="en">
    <head th:object="${TechnicianProfile}">
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <!-- <title th:text="*{user.firstName} +' '+ *{user.lastName} + ' (' + *{user.role} +')' ">Tutee Name</title> -->
      <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
      <link th:href="@{/css/profile.css}" rel="stylesheet" />
      <link th:href="@{/css/common.css}" rel="stylesheet" />
    </head>
    <body>
      <main>
        <header class="row align-items-center ps-5 pe-5 shadow bg-body">
        

          <div class="col text-end">
            <form th:object="${TechnicianProfile}" class="col" action="/logout" method="post">
              <div class="dropdown">
                <a
                  href="#"
                  role="button"
                  class="dropdown-toggle"
                  id="signup_options"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                
                  <img
                    th:src="@{/images/default_avatar.png}"
                    class="rounded-circle"
                    data-bs-toggle="tooltip"
                    th:title="|Logged in as *{user.firstName} *{user.lastName} (*{user.role})|"
                    alt="Avatar"
                    height="35"
                  />
                </a>
                <ul class="dropdown-menu p-0" aria-labelledby="signup_options">
                  <li>
                    <form th:action="@{/logout}" method="post">
                      <button type="submit" class="btn-sm btn w-100">
                        Log out
                      </button>
                    </form>
                  </li>
                </ul>
              </div>
            </form>
          </div>

        
        </header>
      <div class="con profile_con row">

        <div
          class="col-md-6 col-lg-5 col-xl-4 profile_details text-center p-5"
          th:object="${TechnicianProfile}"
        >

          <h4>
            <span th:text="*{user.firstName}"></span>
            <span th:text="*{user.lastName}"></span>
            (<span th:text="*{user.role}"></span>)
          </h4>
          <div class="text-start">
            <div
            class="col-md-6 col-lg-5 col-xl-4 profile_details text-center p-5"
             th:object="${CurrentUser}"
           >
   
              <p>
              <img style="width: 80px; height: 100px;" class="rounded-circle" th:src="@{${CurrentUser.photosImagePath}}" />
              </p>
   
           </div>
            <p>
              <b>Location</b>
              <i th:text="*{user.location}">Arada | A/A | Ethiopia</i>
            </p>
            <p>
              <b>Email</b> <i th:text="*{user.email}">Henson.gray@gmail.com</i>
            </p>
            <p><b>Phone</b> <i th:text="*{user.phone}">0976348700</i></p>
            <p><b>Username</b> <i th:text="*{user.username}">username</i></p>
          </div>
          <div class="row">
            <a
              class="col"
              th:href="@{/editTechnicianProfile(userId=*{user.Id},technicianId=${TechnicianProfile.id})}"
            >
              <button class="btn w-100 btn-sm btn-primary">Edit profile</button>
            </a>
            <form class="col" th:action="@{'/deleteTechnicianAccount/' + *{user.id}}" method="post">
              <input class="btn w-100 btn-sm btn-primary" type="submit" value="Delete Account">
            </form>
          </div>
        </div>
        <div class="col">
          <h4 class="text-center mt-4 mb-3">Requests Received</h4>
          <div  th:block th:each="rHelpers : ${helpList}"  class="card cards w-75 mb-4">
            <h6 class="card-header">
              <b>From</b>
              <span th:text = "${rHelpersStat.index} + ': ' +  ${rHelpers.getCustomer.getUser().getFirstName()}"></span>
              <span th:text = "${rHelpers.getCustomer.getUser().getLastName()}"></span>
            </h6>
            <div class="card-body">
              <p><b>Location</b> <i th:text = "${rHelpers.getCustomer.getUser().getLocation()}">Arada | A/A | Ethiopia</i></p>
              <p><b>Email</b> <i  th:text = "${rHelpers.getCustomer.getUser().getEmail()}">Henson.gray@gmail.com</i></p>
              <p><b>Phone</b> <i th:text = "${rHelpers.getCustomer.getUser().getPhone()}">0976348700</i></p>
              <p><b>Phone</b> <i th:text = "${rHelpers.getCustomer.getUser().getPhone()}">0976348700</i></p>
              <p><b>status</b> <i th:text = "${rHelpers.getStatus()}"></i></p>
              <!-- <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary" aria-haspopup="true" aria-expanded="false">
                  Status: <span th:text = "${rHelpers.getStatus()}" >Status</span>
                </button>
                <div class="dropdown-menu">
                  dropdown
                </div>
              </div> -->


              <div th:switch="${rHelpers.getStatus().name()}">
                <button type="button" th:case="DONE" class="btn btn-success" data-bs-toggle="modal" th:data-bs-target="'#exampleModal' + ${rHelpers.getReq().getId()}" data-bs-whatever="@getbootstrap">Status: [[${rHelpers.getStatus()}]]</button>
                <button type="button" th:case="PENDING" class="btn btn-primary" data-bs-toggle="modal" th:data-bs-target="'#exampleModal' + ${rHelpers.getReq().getId()}" data-bs-whatever="@getbootstrap">Status: [[${rHelpers.getStatus()}]]</button>
                <button type="button" th:case="DECLINE" class="btn btn-danger" data-bs-toggle="modal" th:data-bs-target="'#exampleModal' + ${rHelpers.getReq().getId()}" data-bs-whatever="@getbootstrap">Status: [[${rHelpers.getStatus()}]]</button>
                <button type="button" th:case="ACCEPTED" class="btn btn-info" data-bs-toggle="modal" th:data-bs-target="'#exampleModal' + ${rHelpers.getReq().getId()}" data-bs-whatever="@getbootstrap">Status: [[${rHelpers.getStatus()}]]</button>(click to edit)
           </div>
              <div class="modal fade modal-centered" th:id="'exampleModal' + ${rHelpers.getReq().getId()}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                      <form th:action = "@{/displayTechnicianProfile/{id}(id = ${rHelpers.getReq().getId()})}" method = "post">
                    <div class="modal-body">
                        <div class="mb-3">
                          <select class="form-select" name="status" id="status">
                            <option
                              th:each="status:${T(software.project.mainClasses.Request.Status).values()}"
                              th:value="${status}"
                              th:text="${status}"
                            ></option>
                          </select>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Send message</button>
                        </div>
                    </div>
                  </form>
                  </div>
                </div>
              </div>


              <div class="card-footer text-muted">Monday, 17 January 2022</div>
            </div>
          </div>
        </div>

        <!-- <div th:block th:each="statusOfTheRequest: ${StatusOfTheRequest}" class="card cards w-75 mb-4">
          <p><b>status</b> <i th:text = "${statusOfTheRequest}"></i></p>
        </div> -->
      </div>
      <footer class="text-center p-2 align-items-center justify-content-center">
        <div class="footer_nav row">
          <a href="/">Feed</a>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="/">Saved</a>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="/">Other</a>
          <br />
          <br />
        </div>
        &copy; 2022 <b>THE TUTOR</b> - All Rights Reserved.
      </footer>
    </main>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
  </body>
</html>
