<!DOCTYPE html>
<html lang="en">
  <html lang="en">
    <head th:object="${TechnicianProfile}">
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <!-- <title th:text="*{user.firstName} +' '+ *{user.lastName} + ' (' + *{user.role} +')' ">Tutee Name</title> -->
  
      <link th:href="@{/css/css.css}" rel="stylesheet" />

      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
      
      <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  
    </head>
    <body>
      <main>
        <header class="header">
          <div class="logo_container">
              <!-- <img  class="logo__image" src="./images/sus.jpg" alt="t LOGO" width="80px"> -->
          <div>
              <h2 class="logo_description">BTH</h2>
              <!-- <h3 class="logo_description"> All in One<br> Electronics Maintenance </h3> -->
             </div> 
              
          
             <div class="col text-end">
              <form th:object="${TechnicianProfile}" class="col" action="/logout" method="post">
                <div class="dropdown">
                  <a
                    href="#"
                    role="button"
                    class="dropdown-toggle"
                    id="signup_options"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                  
                    <img
                      th:src="@{${CurrentUser.getPhotosImagePath}}"                    class="rounded-circle"
                      data-bs-toggle="tooltip"
                      th:title="|Logged in as *{user.firstName} *{user.lastName} (*{user.role})|"
                      alt="Avatar"
                      height="35"
                    />
                 
                  </a>
                  <ul class="dropdown-menu p-0" aria-labelledby="signup_options">
                    <li>
                      <form th:action="@{/logout}" method="post">
                        <button type="submit" class="btn-sm btn w-100">
                          Log out
                        </button>
                      </form>
                    </li>
                  </ul>
                </div>
              </form>
            </div>
        
          </div>
        
          
          <nav class="nav-bar">
              <ul class="nav-bar__list">
                  <li class="nav-bar__item activated"><a class="nav-bar__link" href="home.html" ><i class="fas fa-home nav-bar__icon colored space" style="color: #084C61;"></i><p class="nav-bar__item--mobile  mobile--active colored">Home</p></a></li>
                  <li class="nav-bar__item"><a class="nav-bar__link" href=""><i class="fas fa-address-card nav-bar__icon space" style="color: #084C61 ;"></i><p class="nav-bar__item--mobile">About</p></a></li>
                  <li class="nav-bar__item"><a class="nav-bar__link" href="html/service.html"><i class="fas fa-window-restore nav-bar__icon space" style="color: #084C61 ;"></i><p class="nav-bar__item--mobile">Technicians</p></a></li>
                  <li class="nav-bar__item"><a class="nav-bar__link"  href="html/work.html"><i class="fas fa-briefcase nav-bar__icon space" style="color: #084C61 ;"></i><p class="nav-bar__item--mobile">Fix Devices</p></a></li>
                  <li class="nav-bar__item"><a class="nav-bar__link" href="html/biography.html"><i class="far fa-address-book nav-bar__icon space" style="color: #084C61 ;"></i><p class="nav-bar__item--mobile">Orders</p></a></li>
                  <li class="nav-bar__item"><a class="nav-bar__link" href="html/contact.html"><i class="fas fa-phone-volume nav-bar__icon space" style="color: #084C61 ;"></i><p class="nav-bar__item--mobile">Contact Us</p></a></li>
              </ul>
          </nav> 


        
        </header>

      <div class="con profile_con row">

        <div
          class="col-md-6 col-lg-5 col-xl-4 profile_details text-center p-5 shadow p-3 my-4 bg-white rounded"
          th:object="${TechnicianProfile}"
        >

          <h4 style="color: black;">
            <span th:text="*{user.firstName}"></span>
            <span th:text="*{user.lastName}"></span>
            (<span th:text="*{user.role}"></span>)
          </h4>
          <div class="text-start">
            <div
            class="col-md-6 col-lg-5 col-xl-4 profile_details text-center p-5"
             th:object="${CurrentUser}"
           >

              
           <img class="rounded-circle" style="margin-right: 30px; height: 15rem; background-color: silver;" th:src="@{${CurrentUser.photosImagePath}}" />
               
           </div>
            <p>
              <b>Location</b>
              <i th:text="*{user.location}">Arada | A/A | Ethiopia</i>
            </p>
            <p>
              <b>Email</b> <i th:text="*{user.email}">Henson.gray@gmail.com</i>
            </p>
            <p><b>Phone</b> <i th:text="*{user.phone}">0976348700</i></p>
            <p><b>Username</b> <i th:text="*{user.username}">username</i></p>
          </div>

          <div class="row">
            <a
              class="col"
              th:href="@{/editTechnicianProfile(userId=*{user.Id},technicianId=${TechnicianProfile.id})}"
            >
              <button class="btn w-100 btn-sm btn-primary">Edit profile</button>
            </a>
            <form class="col" th:action="@{'/deleteTechnicianAccount/' + *{user.id}}" method="post">
              <input class="btn w-100 btn-sm btn-primary" type="submit" value="Delete Account">
            </form>
          </div>
        </div>

 <!--rowwwwwwwwwwwwwwwwwwwwwwwwwwooooooooooooooooooooooowwwwwwwwwwwwwwww  -->

          <div class="col" style="padding-left: 100px;">
            <h4 class="text-center mt-4 mb-3">Requests Received</h4>
            <div  th:block th:each="rHelpers : ${helpList}"  class="card cards w-75 mb-4 row shadow p-3 mb-5 bg-white rounded">
              <div class="row">
                <h6 class="card-header">
                  <b>From</b>
                  <span th:text = "${rHelpersStat.index} + ': ' +  ${rHelpers.getCustomer.getUser().getFirstName()}"></span>
                  <span th:text = "${rHelpers.getCustomer.getUser().getLastName()}"></span>
                </h6>
  
              </div>
 <!--collllllllllllllllllllllll  -->
              <div class="card-body row" >


<!-- fffffffffffffffffffffffffffffffffffffffff -->

                <div class="col">
                  <img width="200" class="rounded-circle" th:src="@{${rHelpers.getCustomer.getUser().photosImagePath}}" alt="customer Photo">
                </div>
  

<!-- fffffffffffffffffffffffffffffffffffffffff -->

                <div class="col">
                    <p><b>Location</b> <i th:text = "${rHelpers.getCustomer.getUser().getLocation()}">Arada | A/A | Ethiopia</i></p>
                    <p><b>Email</b> <i  th:text = "${rHelpers.getCustomer.getUser().getEmail()}">Henson.gray@gmail.com</i></p>
                    <p><b>Phone</b> <i th:text = "${rHelpers.getCustomer.getUser().getPhone()}">0976348700</i></p>
                    <!-- <p><b>Phone</b> <i th:text = "${rHelpers.getCustomer.getUser().}">0976348700</i></p> -->
                    <p><b>status</b> <i th:text = "${rHelpers.getStatus()}"></i></p>
                    
  
                <div th:switch="${rHelpers.getStatus().name()}">
                  <button type="button" th:case="DONE" class="btn btn-success" data-bs-toggle="modal" th:data-bs-target="'#exampleModal' + ${rHelpers.getReq().getId()}" data-bs-whatever="@getbootstrap">Status: [[${rHelpers.getStatus()}]]</button>
                  <button type="button" th:case="PENDING" class="btn btn-primary" data-bs-toggle="modal" th:data-bs-target="'#exampleModal' + ${rHelpers.getReq().getId()}" data-bs-whatever="@getbootstrap">Status: [[${rHelpers.getStatus()}]]</button>
                  <button type="button" th:case="DECLINE" class="btn btn-danger" data-bs-toggle="modal" th:data-bs-target="'#exampleModal' + ${rHelpers.getReq().getId()}" data-bs-whatever="@getbootstrap">Status: [[${rHelpers.getStatus()}]]</button>
                  <button type="button" th:case="ACCEPTED" class="btn btn-info" data-bs-toggle="modal" th:data-bs-target="'#exampleModal' + ${rHelpers.getReq().getId()}" data-bs-whatever="@getbootstrap">Status: [[${rHelpers.getStatus()}]]</button>(click to edit)
             </div>
                <div class="modal fade modal-centered" th:id="'exampleModal' + ${rHelpers.getReq().getId()}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Status From: [[${rHelpers.getCustomer.getUser().getFirstName()}]] [[${rHelpers.getCustomer.getUser().getLastName()}]]</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                        <form th:action = "@{/displayTechnicianProfile/{id}(id = ${rHelpers.getReq().getId()})}" method = "post">
                      <div class="modal-body">
                          <div class="mb-3">
                            <select class="form-select" name="status" id="status">
                              <option
                                th:each="status:${T(software.project.mainClasses.Request.Status).values()}"
                                th:value="${status}"
                                th:text="${status}"
                              ></option>
                            </select>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Change Status</button>
                          </div>
                      </div>
                    </form>
                    <!-- <a style="margin-right:1em; font-size:1.2em;" class ="btn btn-info" href="@{/technicianValidation/{id}(id=${technician.id})}" >Accept</a>
                     <a style="font-size:1.2em;" href="@{/technicianInvalidation/{id}(id=${technician.id})}" class ="btn btn-danger"></a> -->
  
                    </div>
                  </div>
                </div>
                </div>
  
  <!-- fffffffffffffffffffffffffffffffffffffffff -->

                <!-- <div class="card-footer text-muted">Monday, 17 January 2022</div> -->
              </div>
            </div>

          </div>



        </div>

        <!-- <div th:block th:each="statusOfTheRequest: ${StatusOfTheRequest}" class="card cards w-75 mb-4">
          <p><b>status</b> <i th:text = "${statusOfTheRequest}"></i></p>
        </div> -->
      </div>
      
      
      <footer class="footer">
        <div class="footer__main">
            <div class="address">
                <ul class="address__list">
                    <li class="address__item"><a class="address__link" href="#" target="_blank"><i class="fas fa-map-marker-alt address__icon"></i>Contact</a></li>
                    <li class="address__item"><a class="address__link" href="#"  target="_blank"><i class="fas fa-envelope address__icon"></i>tech_cust@gmail.com</a></li>
                    <li class="address__item"><a class="address__link" href="#" target="_blank"><i class="fas fa-map-marker-alt address__icon"></i>Addis Ababa,Ethiopia</a></li>
                </ul>
            </div>
            <div class="address">
                <ul class="address__list">
                    <li class="address__item"><a class="address__link" href="#"  target="_blank"><i class="fas fa-mobile-alt address__icon"></i>+251985258911</a></li>
                    <li class="address__item"><a class="address__link" href="#"  target="_blank"><i class="fas fa-envelope address__icon"></i>P.o Box</a></li>
                    <li class="address__item"><a class="address__link" href="#"  target="_blank"><i class="fab fa-linkedin-in address__icon"></i>Zip Code</a></li>
                </ul>
            </div>
            <div class="contact">
                <h2>CONTACT</h2><br>
                <h3>Get in Touch</h3>
                <ul class="contact__list">
                    <li class="contact__item"><a class="contact__link" href="#" aria-label="Email link" target="_blank" ><i class="far fa-envelope contact__icon"></i></a></li>
                    <li class="contact__item"><a class="contact__link" href="#" aria-label="github link"  target="_blank" ><i class="fab fa-github contact__icon"></i></a> </li>
                    <li class="contact__item"><a class="contact__link" href="#"  aria-label="linkedin link" target="_blank" ><i class="fab fa-linkedin-in contact__icon"></i></a></li>
                    <li class="contact__item"><a class="contact__link" href="#"  aria-label="Telegram link" target="_blank" ><i class="fab fa-telegram-plane contact__icon"></i></a></li>
                </ul>
            </div>
            
        </div>
        <p class="footer__paragraph">Copyright &copy;2021 All rights reserved | developed by Jebessa Dejene</p>
      </footer>
    </main>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
  </body>
</html>
