<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feedback</title>
    <link th:href="@{/css/css.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />


  </head>
<body>

    <header class="header">
        <div class="logo_container">
            <!-- <img  class="logo__image" src="./images/sus.jpg" alt="t LOGO" width="80px"> -->
        <div>
            <h2 class="logo_description">BTH</h2>
            <!-- <h3 class="logo_description"> All in One<br> Electronics Maintenance </h3> -->
           </div> 
            
           <div class="col text-end">
            <form class="col" action="/logout" method="post">
              <div class="dropdown">
                <a
                  href="#"
                  role="button"
                  class="dropdown-toggle"
                  id="signup_options"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <img
                    class="rounded-circle"
                    data-bs-toggle="tooltip"
                    alt="Avatar"
                    height="35"
                  />
                </a>
                <ul class="dropdown-menu p-0" aria-labelledby="signup_options">
                  <li>
                    <form th:action="@{/logout}" method="post">
                      <button type="submit" class="btn-sm btn w-100">
                        Log out
                      </button>
                    </form>
                  </li>
                </ul>
              </div>
            </form>  
          </div>
      
        </div>
      
        
        <nav class="nav-bar">
            <ul class="nav-bar__list">
                <li class="nav-bar__item activated"><a class="nav-bar__link" href="home.html" ><i class="fas fa-home nav-bar__icon colored space" style="color: #084C61;"></i><p class="nav-bar__item--mobile  mobile--active colored">Home</p></a></li>
                <li class="nav-bar__item"><a class="nav-bar__link" href=""><i class="fas fa-address-card nav-bar__icon space" style="color: #084C61 ;"></i><p class="nav-bar__item--mobile">About</p></a></li>
                <li class="nav-bar__item"><a class="nav-bar__link" href="html/service.html"><i class="fas fa-window-restore nav-bar__icon space" style="color: #084C61 ;"></i><p class="nav-bar__item--mobile">Technicians</p></a></li>
                <li class="nav-bar__item"><a class="nav-bar__link"  href="html/work.html"><i class="fas fa-briefcase nav-bar__icon space" style="color: #084C61 ;"></i><p class="nav-bar__item--mobile">Fix Devices</p></a></li>
                <li class="nav-bar__item"><a class="nav-bar__link" href="html/biography.html"><i class="far fa-address-book nav-bar__icon space" style="color: #084C61 ;"></i><p class="nav-bar__item--mobile">Orders</p></a></li>
                <li class="nav-bar__item"><a class="nav-bar__link" href="html/contact.html"><i class="fas fa-phone-volume nav-bar__icon space" style="color: #084C61 ;"></i><p class="nav-bar__item--mobile">Contact Us</p></a></li>
            </ul>
        </nav> 
      </header>


    <main style="margin-top: 10em; margin-bottom: 10em " class="Contact mx-auto w-50">
        <h1><strong style="color:rgb(17, 116, 103);">Send us Feedback</strong></h1>
        <div th:if="${error}" class = "alert alert-danger text-center">
            [[${error}]]
        </div>
        <div th:if="${message}" class = "alert alert-success text-center">
            [[${message}]]
        </div>
        <div th:if="${success}" class = "alert alert-success text-center">
            [[${success}]]
        </div>

        <form method ="post" th:action="@{/feedback}" th:object="${feedback}" class="shadow-sm p-3 mb-5 bg-white rounded">
            <input type="text" hidden th:field="*{feedbackId}">

            <label class="form-label" for="subject">Subject</label>
            <input type="text" id = "subject" class="form-control" th:field="*{subject}" >

            <label class="form-label" for="message">Message</label>
            <textarea type="text" id = "message" class="form-control" th:field="*{content}" rows="7"> </textarea>

            <button class="w-100 btn btn-lg btn-primary my-2" type="submit">Send</button>
        </form>
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/js/common.js}"></script>
    </main>

    <div th:insert="fragments/footer :: footer"></div>
</body>
</html>