<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Messages</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/landing.css}" rel="stylesheet" />
    <link th:href="@{/css/common.css}" rel="stylesheet" />
  </head>
<body>

    <section>
        <div class="card" style="width: 18rem;" th:each="message : ${message}">
            <div class="card-body">
              <h2 class="card-title">send By: [[${message.getSender.getFirstName}]]</h2>
              <h5 class="card-title">Subject: [[${message.getSubject}]]</h5>
              <h6 class="card-subtitle mb-2 text-muted">[[${message.getSentDate}]]</h6>
              <p class="card-text"> [[${message.getContent}]] </p>
            </div>
          </div>
    </section>
    

</body>
</html>
