<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
</head>
<body>
    <form th:method ="post" th:action="@{/payment/{id}(id = ${id})}"  th:object="${payment}">
        <input type="text" hidden th:field="*{paymentId}">
        <input type="number" th:field="*{price}">
        <select name="paymentStatus" id="paymentStatus">
            <option value="1">Paid</option>
            <option value="">UnPaid</option>
        </select>
        <select name="PaymentTypes" id="PaymentTypes">
            <option value="WIRE">Wire transfer</option>
            <option value="MOBILE_BANKING">Mobile Banking</option>
        </select>
        <textarea type="text" th:field="*{accountInformation}" row = "8" column = "10"> </textarea>
        <!-- <input type="date" hidden th:field="*{sentDate}"> -->
        <input type="submit" value="Send Payment">
    </form>
</body>
</html>