<!DOCTYPE html>
<html lang="en">
<head th:object="${TuteeProfileModel}">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/profile.css}" rel="stylesheet" />
    <link th:href="@{/css/common.css}" rel="stylesheet" />
</head>
<body>
<main>


    <h1><strong style="color:rgb(17, 116, 103);">Forget Passwords</strong></h1>
    <form th:action="" method="post">
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
        </div>
        <input type="button" role="button" class="btn btn-primary" value="send">
    </form>


    <footer class="text-center p-2 align-items-center justify-content-center fixed-bottom">
        <div class="footer_nav row">
          <a href="/">Feed</a>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="/">Saved</a>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="/">Other</a>
          <br />
          <br />
        </div>
        &copy; 2022 <b>THE TUTOR</b> - All Rights Reserved.
      </footer>
    
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
  </body>
</html>
