<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link th:href="@{/css/css.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <!-- <link th:href="@{/css/common.css}" rel="stylesheet" /> -->
    <link th:href="@{/css/landing.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
   
</head>
<body>
    <header class="header row align-items-center ps-5 pe-5">
        <div class="logo_container">
            <!-- <img  class="logo__image" src="./images/sus.jpg" alt="t LOGO" width="80px"> -->
        <div>
            <h2 class="logo_description">BTH</h2>
            <!-- <h3 class="logo_description"> All in One<br> Electronics Maintenance </h3> -->
           </div> 
            
           <div class="col text-end">
            <form
              th:object="${TutorProfileModel}"
              class="col"
              th:action="@{/logout}"
              method="post"
            >
              <div class="dropdown">
                <a
                  href="#"
                  role="button"
                  class="dropdown-toggle"
                  id="signup_options"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <img
                    th:src="@{/images/default_avatar.png}"
                    class="rounded-circle"
                    data-bs-toggle="tooltip"
                    title="Logged in as Admin"
                    alt="Avatar"
                    height="35"
                  />
                </a>
                <ul class="dropdown-menu p-0" aria-labelledby="signup_options">
                  <li>
                    <form action="/logout" method="post">
                      <button type="submit" class="btn-sm btn w-100">
                        Log out
                      </button>
                    </form>
                  </li>
                </ul>
              </div>
            </form>
          </div> 
        </div>

    </header>

    <main>
        <div  th:block th:each="technician: ${techs}"  class="card cards w-50 mb-4 justify-content-center" style="box-sizing: border-box; margin-top: 2em; margin-left: 5em;">
          <div class="card-body justify-content-center" style="box-sizing: border-box; margin-top: 3em;">
            <div class="row">
              <div class="col">
                <img width="300" class="rounded-circle" th:src = "@{${technician.getUser().photosImagePath}}">
              </div>
              <div class="col">
                <p><b>FullName</b><span th:text = "${technician.getUser().getLastName()} + '  :   ' +  ${technician.getUser().getFirstName()}"></span>
                <p><b>Location</b> <i th:text = "${technician.getUser().getLocation()}">Arada | A/A | Ethiopia</i></p>
                <p><b>Email</b> <i  th:text = "${technician.getUser().getEmail()}">Henson.gray@gmail.com</i></p>
                <p><b>Phone</b> <i th:text = "${technician.getUser().getPhone()}">0976348700</i></p>
                <p><b>Device</b> <i th:text = "${technician.device}">0976348700</i></p>
                <p><b>approved </b><i th:text="${technician.approved}"></i></p>
  
              </div>
            </div> 
            <div class="row "style="max-width: 15em; float: right; margin: right 1em;">
              <a
              th:href="@{/adminDashBoard/notApprovedTechnicians(id=${technician.id})}"
              class="btn btn-primary" style="max-width: 15em; float: right;"
            > Approve

            </a>

            </div>
            </div>

          </div>
    </div>



    </main>

    <footer class="footer">
        <div class="footer__main">
            <div class="address">
                <ul class="address__list">
                    <li class="address__item"><a class="address__link" href="#" target="_blank"><i class="fas fa-map-marker-alt address__icon"></i>Contact</a></li>
                    <li class="address__item"><a class="address__link" href="#"  target="_blank"><i class="fas fa-envelope address__icon"></i>tech_cust@gmail.com</a></li>
                    <li class="address__item"><a class="address__link" href="#" target="_blank"><i class="fas fa-map-marker-alt address__icon"></i>Addis Ababa,Ethiopia</a></li>
                </ul>
            </div>
            <div class="address">
                <ul class="address__list">
                    <li class="address__item"><a class="address__link" href="#"  target="_blank"><i class="fas fa-mobile-alt address__icon"></i>+251985258911</a></li>
                    <li class="address__item"><a class="address__link" href="#"  target="_blank"><i class="fas fa-envelope address__icon"></i>P.o Box</a></li>
                    <li class="address__item"><a class="address__link" href="#"  target="_blank"><i class="fab fa-linkedin-in address__icon"></i>Zip Code</a></li>
                </ul>
            </div>
            <div class="contact">
                <h2>CONTACT</h2><br>
                <h3>Get in Touch</h3>
                <ul class="contact__list">
                    <li class="contact__item"><a class="contact__link" href="#" aria-label="Email link" target="_blank" ><i class="far fa-envelope contact__icon"></i></a></li>
                    <li class="contact__item"><a class="contact__link" href="#" aria-label="github link"  target="_blank" ><i class="fab fa-github contact__icon"></i></a> </li>
                    <li class="contact__item"><a class="contact__link" href="#"  aria-label="linkedin link" target="_blank" ><i class="fab fa-linkedin-in contact__icon"></i></a></li>
                    <li class="contact__item"><a class="contact__link" href="#"  aria-label="Telegram link" target="_blank" ><i class="fab fa-telegram-plane contact__icon"></i></a></li>
                </ul>
            </div>
            
        </div>
        <p class="footer__paragraph">Copyright &copy;2021 All rights reserved | developed by Jebessa Dejene</p>
    </footer>


    
</body>
</html>